# Contributor-owned folders

# Critical files - only admins
* @SJTU-AIIA/admins
/.github/ @SJTU-AIIA/admins
/.github/** @SJTU-AIIA/admins

# Templates
/.template/ @SJTU-AIIA/admins
/.template/** @SJTU-AIIA/admins
*/studyspace/.template/ @SJTU-AIIA/admins
*/studyspace/.template/** @SJTU-AIIA/admins

# Registry
*/_registry.json @SJTU-AIIA/admins
